name: Quality Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  spelling-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Check spelling
        uses: check-spelling/check-spelling@0.0.19

  # Second Job
  markdown-link-check:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Check links for 200 OK
      uses: gaurav-nelson/github-action-markdown-link-check@v1
